body {
    background-image: url("fantasy-background_YGsLHNm%20(1).jpg");
    
}
#save{color: darkgoldenrod;
    margin-left: 650px; 
}

.tst{
    background-color: gainsboro;
    margin-right: 400px;
    text-align: center;
    margin-left: 400px;
    font-family: cursive;
    
       
}

 

    
    
        
}

tr{
        color: white;
    font-family: cursive;
    font-size: large;
}
