body{
    background-color:#111111;
}

h1{ 
    color:#e2e80f;
    font-size:60px;
    
}

#film-description{
    font-size: 30px;
}

.credits{color: blue;
    text-decoration: underline;
    cursor: pointer
}

p {
    color: #eeeeee;
    
}

