body {
    background-image: url("ffff.jpg");
   
}


}

.
    
    
    
    
}
.ih{
    font-size: 10px;
    float: right;
  
  margin-bottom: 500px;
    width: 250px;
    height: 250px;
    
}


    

#total{
    margin-top: 80px;
    
}

    

.ic{
    height: 300px;
    width: 300px;
 margin-left:60px;
    

}

#va{
    text-align: inherit;
    font-size: 50px;
    color: red;
    
    
    
}

