body{font-size: 50px;
    
    text-align: center;
    color: red;
    font-family: monospace;
    
}
    


.re{
    font-size: 30px;
    text-align: center;
    
  margin top: 20px;
    background-color: black;
    color: white;
    white-space: normal;
    padding: 30px;
    margin-bottom: 420px;
  
    
    
    
}

.raghe{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    padding: 30px;
    color: white;
    background-color: black
}